.timelineWOptions {
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.entete {
  width: 53vw;
  margin: 4vh auto 1vh 23vw;
  background-color: #ffffffd9;
  border-radius: 0.43em;

  mat-form-field {
    margin: 10px 1vw -10px 1vw;
  }
}

.timeline {
  padding: 0vh 0px 5vh 0px;
}

.timelineWOptions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.timelineWOptions::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.timelineWOptions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #000000bf;
}

.post {
  text-align: center;
  position: absolute;
  top: 3vh;
  right: 2vw;
  background-color: #FCFEFB;
  padding: 0.2vh 1vw;
  border-radius: 0.43em;
  align-items: center;

  img {
    width: 1.5vw;
    height: 1.5vw;
    display: block;
  }

  h1 {
    font-size: 1.2em;
    margin-right: 0.5vw;
  }
}

@media (max-width: 800px) {
  .post {
    top: 1vh;
    right: 3vw;
    padding: 0vh 2vw;
    align-items: center;

    img {
      width: 5vw;
      height: 5vw;
      display: block;
    }

    h1 {
      font-size: 1em;
      margin: 5px;
    }
  }

  .entete {
    width: 90vw;
    justify-content: space-around;
    margin: 7vh auto 1vh auto;

    mat-form-field {
      width: 25vw;
      font-size: 0.7em;
    }
  }
}
