<div class="timeline">
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
    <app-surveyPreview></app-surveyPreview>
</div>

<div class="flexRow post">
    <h1>Écrire un sondage</h1>
    <img src="https://image.flaticon.com/icons/svg/1355/1355562.svg"/>
</div>