<div *ngIf="!isDeleted" class="flexRow">
    <div class="button flexRow onePreview" (click)="openSurvey()">
        <p style="width:80%">{{survey.text}}</p>
        <div class="flexRow oneInfo">
            <img src="../../../../../../assets/images/like.svg"/>
            <p>{{survey.likes}}</p>
        </div>
        <div class="flexRow oneInfo">
            <img src="../../../../../../assets/images/participations.svg"/>
            <p>{{survey.participations}}</p>
        </div>
        <div class="flexRow oneInfo">
            <img src="../../../../../../assets/images/warnings.svg"/>
            <p>{{survey.warnings}}</p>
        </div>
    </div>
    <div class="actions flexRow">
        <img class="button" src="../../../../../../assets/images/safe.svg" (click)="safe()"/>
        <img class="button" src="../../../../../../assets/images/ban.svg" (click)="delete()"/>
    </div>
</div>

<app-surveyPreview *ngIf="surveyOpen" style="pointer-events: none" [survey]="survey" [admin]="true" ></app-surveyPreview>