<div *ngIf="!isDeleted" class="flexRow">
    <div class="button flexRow onePreview" (click)="openSurvey()">
        <p style="width:80%">{{survey.text}}</p>
        <div class="flexRow oneInfo">
            <img src="https://image.flaticon.com/icons/svg/1216/1216649.svg"/>
            <p>{{survey.likes}}</p>
        </div>
        <div class="flexRow oneInfo">
            <img src="https://image.flaticon.com/icons/svg/2633/2633926.svg"/>
            <p>{{survey.participations}}</p>
        </div>
        <div class="flexRow oneInfo">
            <img src="https://image.flaticon.com/icons/svg/497/497738.svg"/>
            <p>{{survey.warnings}}</p>
        </div>
    </div>
    <div class="actions flexRow">
        <img class="button" src="https://image.flaticon.com/icons/svg/1161/1161388.svg" (click)="safe()"/>
        <img class="button" src="https://image.flaticon.com/icons/svg/1161/1161389.svg" (click)="delete()"/>
    </div>
</div>

<app-surveyPreview *ngIf="surveyOpen" style="pointer-events: none" [survey]="survey" [admin]="true" ></app-surveyPreview>