.card{
    background-color: var(--color-gray);
    width: 25vw;
    border: 1px solid black;
    border-radius: 0.43em;
    text-align: center;
    margin: 1vw;
}

.cardGraph{
    background-color: var(--color-gray);
    width: 40vw;
    height: 45vh;
    border: 1px solid black;
    border-radius: 0.43em;
    text-align: center;
    margin: 1vw;
}