.boxNewSurvey {
  width: 56vw;
  height: 80vh;
  box-shadow: 2px 2px 5px #8c8c8c, 0px 0px 0px var(--color-black), 0px 0px 0px var(--color-black);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.43em;
  padding: 1vh 2vw;
  position: absolute;
  left: 20vw;
  top: 8vh;

  h1 {
    text-align: center;
    font-size: 1.7em;
    margin: 0.5vh;
  }
}

.textInput {
  width: 100%;

  textarea {
    height: 25vh;
    background-color: #f1f1f1;
  }
}

.optionSelection {
  height: 40%;
  overflow-y: auto;
  margin-top: 2vh;

  .oneOption {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1vh;

    p {
      margin: 0px;
      border: 1px solid var(--color-black);
      border-radius: 1em;
      padding: 0.5vh 2vw;
      width: 90%;
    }

    img {
      width: 1vw;
    }
  }

  .addOption {
    img {
      width: 1vw;
    }

    .addLogo {
      margin-right: 1vw;
    }

    .newOptionInput {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.buttonsCancelAndAdd {
  width: 12vw;
  margin: auto;
  justify-content: space-between;

  .button {
    border: 1px solid var(--color-black);
    border-radius: 0.43em;
    padding: 0.5vh 1vw;

    p {
      margin: 0px;
    }
  }

  .disabled {
    pointer-events: none;
    background-color: var(--color-gray) !important;
  }
}

.separator {
  width: 3vw;
  height: 3px;
  background-color: var(--color-blue);
  margin: auto;
}
