.separator{
    width:10vw;
    margin:auto;
    height:4px;
    background-color: var(--color-blue);
}

h1{
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}

p{
    text-align: center;
}

.blockGestion{
    padding:2vh 0px;
}