/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    margin:0px;
}

//Containers
.flexRow{
    display: flex;
    flex-direction: row;
}

.flexCol{
    display: flex;
    flex-direction: column;
}

//Objects
.button{
    cursor:pointer;
}
