:root{
    //Couleurs
    --color-gray: #DCDFE6;
    --color-white: #FCFEFB;
    --color-yellow: #F8FF42;
    --color-blue: #0D6EA3;
    --color-black: #2E2E31;

    //Box shadow
    --shadow-light: #0000047a 0px 0px 5px;

}