* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fakeBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  font-family: "Montserrat";
  width: 60vw;
  margin-left: 22.5vw;
}

.container {
  width: 60vw;
  margin: 2vh auto;
  border-radius: 20px;
  position: relative;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px 50px;
  color: #fff;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 8px black;
}

.content {
  transform: translatez(70px) scale(0.8);
  line-height: 1.5em;
}

.content h1 {
  position: relative;
  line-height: 1em;
}

.content p {
  line-height: 2em;
}

.content h1:before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 3px;
  background-color: var(--color-blue);
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  background-size: 100%;
  background-color: #333;
}

.back {
  background-color: #333;
  transform: rotateY(180deg);
  z-index: 0;
  padding-top: 10px;
  background-size: 100%;
  border: 7px solid #0000008f;
}

.isVoted {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back h1 {
  margin: 0;
}

.listStatisticsView {
  width: 140px;
  margin: 3vh 1vw 0px auto;

  img {
    width: 35px;
    background-color: white;
    padding: 7px;
    border: 1px solid black;
    border-radius: 0.33em;
  }

  .selectedView {
    background-color: var(--color-yellow);
  }
}

.groupOptionFront,
.groupOptionBack {
  .option {
    background-color: var(--color-white);
    padding: 5px 20px;
    border-radius: 3.43em;
    margin-top: 1vh;
    color: var(--color-black);
    width: 100%;
  }

  .percentInfo {
    margin-left: 30px;
    width: 2vw;
  }

  .indicatorLetter {
    margin-right: 30px;
  }
}

.groupOptionFront {
  margin-top: 40px;
}

.groupOptionBack {
  width: 120%;
  margin-left: -8%;
}

.selected {
  color: var(--color-yellow);

  .option {
    background-color: var(--color-yellow);
  }
}

.friendSelected {
  .option {
    border: 5px solid #007eff;
  }
}

.barInterract {
  width: 6vw;
  margin-left: 0.5vw;
  position: relative;

  .tooltipeShare, .tooltipAvert {
    display: none;
    position: absolute;
    top: 0.5vw;
    left: 3vw;
    font-size: 0.8em;
    width: 13vw;
    background-color: gray;
    color: white;
    padding: 5px 0px;
    text-align: center;
    border-radius: 0.43em;
  }

  .warningBlock{
    position: relative;
    width: 2vw;
    margin: 1vh auto 20vh auto;

    .nbrWarning{
      position: absolute;
      top: 1vw;
      width: 2vw;
      text-align: center;
      color: black;
      font-size: 1vw;
    }

    &:hover {
      .tooltipAvert {
        display: block;
      }
    }
  }

  .isWarned {
    pointer-events: none;
    filter: opacity(0.5);
  }

  .shareBlock {
    position: relative;
    width: 2vw;
    margin: 1vh auto;

    &:hover {
      .tooltipeShare {
        display: block;
      }
    }
  }

  .oneInfo {
    background-color: white;
    padding: 0.5vh;
    margin: 0.5vh;
    border: 1px solid black;
    border-radius: 0.43em;
    justify-content: space-around;
    align-items: center;
  }

  .iconButton {
    width: 1vw;
  }

  p {
    font-size: 1.3em;
  }

  .iconLike {
    width: 2vw;
    margin: 1vh auto;
    filter: drop-shadow(0px 2px 2px black);
  }

  .iconWarning {
    width: 2vw;
    margin: 1vh auto;
  }

  .iconShare {
    width: 2vw;
    margin: 1vh auto;
  }
}

//Statistics view
.pannelStat {
  height: 40vh;
  margin-top: 2vh;

  #sexBarsGraph {
    display: block;
    width: 30vw;
    height: 15vw;
    margin: auto;
  }

  .onePannelStat {
    visibility: hidden;
  }

  .visiblePannel {
    visibility: visible;
  }

  .blockGraph {
    padding: 2vh 4vw;
    background-color: white;
    border-radius: 1.43em;
    height: 45vh;
    overflow: hidden;
  }

  .tableHeatMap {
    color: black;
    width: 40vw;
    width: 35vw;
    margin: auto;

    .row {
      align-items: center;
    }

    .option {
      width: 7vw;
    }

    .listAgeStat {
      p {
        border: 1px solid black;
      }
    }

    .listEntete {
      p {
        border: 1px solid white;
      }
    }

    .listAgeStat,
    .listEntete {
      p {
        width: 5vw;
        margin: 5px;
        text-align: center;
      }
    }
  }
}

//CATEGORIES
.sexCat {
  .front {
    background-color: #ec9c9c9e;
  }

  .back {
    background-color: #ec9c9c9e;
  }
}

.loveCat {
  .front {
    background-color: #c722229e;
  }

  .back {
    background-color: #c722229e;
  }
}

.societyCat {
  .front {
    background-color: #0000009e;
  }

  .back {
    background-color: #0000009e;
  }
}

.uselessCat {
  .front {
    background-color: #48ff3c9e;
  }

  .back {
    background-color: #48ff3c9e;
  }
}

.sportCat {
  .front {
    background-color: #2522c79e;
  }

  .back {
    background-color: #2522c79e;
  }
}

.newsCat {
  .front {
    background-color: #ff6c049c;
  }

  .back {
    background-color: #ff6c049c;
  }
}

.artCat {
  .front {
    background-color: #1fde629e;
  }

  .back {
    background-color: #1fde629e;
  }
}

.lifeCat {
  .front {
    background-color: #3cc0ff9e;
  }

  .back {
    background-color: #3cc0ff9e;
  }
}

.musicCat {
  .front {
    background-color: #903cff9e;
  }

  .back {
    background-color: #903cff9e;
  }
}

.logoCat {
  position: absolute;
  width: 5vw;
  left: 1vw;
  top: 1vw;
}

@media (max-width: 800px) {
  .fakeBody {
    width: 97vw;
    margin-left: 0vw;
    flex-direction: column;
  }

  .container {
    width: 90vw;
    margin: 1vw auto;
  }

  .side {
    padding: 10px 10px;
  }

  .content h1 {
    font-size: 1em;
  }

  .content p {
    font-size: 0.6em;
    line-height: 1em;
  }

  .content h1:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background-color: var(--color-blue);
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background-size: 100%;
    background-color: #333;
  }

  .back {
    background-color: #333;
    transform: rotateY(180deg);
    z-index: 0;
    padding-top: 10px;
    background-size: 100%;
    border: 3px solid #0000008f;
  }

  .isVoted {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .back h1 {
    margin: 0;
  }

  .listStatisticsView {
    width: 140px;
    margin: 30px 1vw 0px auto;

    img {
      width: 25px;
      padding: 4px;
      margin-left: 3px;
    }

    .selectedView {
      background-color: var(--color-yellow);
    }
  }

  .groupOptionFront,
  .groupOptionBack {
    .option {
      background-color: var(--color-white);
      padding: 5px 20px;
      border-radius: 3.43em;
      margin-top: 1vh;
      color: var(--color-black);
      width: 100%;
    }

    .percentInfo {
      margin-left: 20px;
      width: 2vw;
    }

    .indicatorLetter {
      margin-right: 30px;
    }
  }

  .groupOptionFront {
    margin-top: 40px;
  }

  .groupOptionBack {
    width: 120%;
    margin-left: -11%;
  }

  .selected {
    color: var(--color-yellow);

    .option {
      background-color: var(--color-yellow);
    }
  }

  .friendSelected {
    .option {
      border: 2px solid #007eff;
    }
  }

  .barInterract {
    width: 90vw;
    height: 4vh;
    margin-left: 5vw;
    margin-bottom: 3vh;
    position: relative;
    flex-direction: row-reverse;
    justify-content: start;

    .tooltip{
      display: none;
    }
    
    .shareBlock, .warningBlock {
      margin: 5px
    }

    .warningBlock{
      margin: auto auto auto 20vw;
  
      .nbrWarning{
        top: 2vw;
        width: 8vw;
        font-size: 4vw;
      }
    }

    .oneInfo {
      padding: 5px;
      margin: 0px 2vw 0px 0px;
      width: 20vw;
    }

    .iconButton {
      width: 4vw;
    }

    p {
      font-size: 1.3em;
    }

    .iconLike {
      width: 8vw;
      margin: 1vw;
      filter: drop-shadow(0px 2px 2px black);
    }

    .iconShare {
      width: 5vw;
      margin: 0vw;
    }

    .iconWarning{
      width: 6vw;
      margin: 1vw;
    }
  }

  //Statistics view
  .pannelStat {
    height: 25vh;
    margin-top: 0px;

    #sexBarsGraph {
      display: block;
      width: 30vw;
      height: 15vw;
      margin: auto;
    }

    .onePannelStat {
      visibility: hidden;
    }

    .visiblePannel {
      visibility: visible;
    }

    .blockGraph {
      width: 100%;
      height: 25vh;
      padding: 1vh 1vw;
      background-color: white;
      border-radius: 1.43em;
    }

    .tableHeatMap {
      color: black;
      width: 60vw;
      margin: auto;

      p {
        padding: 5px;
      }

      .row {
        align-items: center;
      }

      .option {
        width: 10vw;
      }

      .listAgeStat {
        p {
          border: 1px solid black;
        }
      }

      .listEntete {
        p {
          border: 1px solid white;
        }
      }

      .listAgeStat,
      .listEntete {
        p {
          width: 10vw;
          margin: 2px;
          text-align: center;
        }
      }
    }
  }

  .logoCat {
    width: 10vw;
    left: 3vw;
    top: 3vw;
  }
}
