<div class="fakeBody">
  <div [ngClass]="{
        'isVoted': voted,
        'sexCat':survey.category=='sex',
        'loveCat':survey.category=='love',
        'societyCat':survey.category=='society',
        'uselessCat':survey.category=='useless',
        'sportCat':survey.category=='sport',
        'newsCat':survey.category=='news',
        'artCat':survey.category=='art',
        'lifeCat':survey.category=='life',
        'musicCat':survey.category=='music'
    }" class="container">

    <div style="visibility: hidden; position: relative;" class="side">
      <div class="content">
        <h1>{{survey.text}}</h1>
        <div class="listStatisticsView">
          <img [ngClass]="{selectedView:mapSelectedViewResult['list']}" class="button"
            (click)="selectViewResult('list')" src="../../../assets/images/list.svg" />
          <img [ngClass]="{selectedView:mapSelectedViewResult['heatmap']}" class="button"
            (click)="selectViewResult('heatmap')" src="../../../assets/images/heatmap.svg" />
          <img [ngClass]="{selectedView:mapSelectedViewResult['sex']}" class="button" (click)="selectViewResult('sex')"
            src="../../../assets/images/sex.svg" />
          <img [ngClass]="{selectedView:mapSelectedViewResult['donut']}" class="button"
            (click)="selectViewResult('donut')" src="../../../assets/images/donut.svg" />
        </div>

        <div class="pannelStat"></div>
      </div>
    </div>

    <div class="front side">

      <img *ngIf="survey.category=='sex'" class="logoCat" src="../../../assets/images/logoCat/logoSex.svg" />
      <img *ngIf="survey.category=='love'" class="logoCat" src="../../../assets/images/logoCat/logoLove.svg" />
      <img *ngIf="survey.category=='society'" class="logoCat" src="../../../assets/images/logoCat/logoSociety.svg" />
      <img *ngIf="survey.category=='useless'" class="logoCat" src="../../../assets/images/logoCat/logoUseless.svg" />
      <img *ngIf="survey.category=='sport'" class="logoCat" src="../../../assets/images/logoCat/logoSport.svg" />
      <img *ngIf="survey.category=='news'" class="logoCat" src="../../../assets/images/logoCat/logoNews.svg" />
      <img *ngIf="survey.category=='art'" class="logoCat" src="../../../assets/images/logoCat/logoArt.svg" />
      <img *ngIf="survey.category=='life'" class="logoCat" src="../../../assets/images/logoCat/logoLife.svg" />
      <img *ngIf="survey.category=='music'" class="logoCat" src="../../../assets/images/logoCat/logoMusic.svg" />

      <div class="content">
        <h1>{{survey.text}}</h1>
        <div class="groupOptionFront">
          <div *ngFor="let option of survey.options" class="flexRow option button" (click)="vote(option)">
            <p>{{option.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="back side">
      <div class="content">
        <h1>{{survey.text}}</h1>
        <div class="listStatisticsView">
          <img [ngClass]="{selectedView:mapSelectedViewResult['list']}" class="button"
            (click)="selectViewResult('list')" src="../../../assets/images/list.svg" />
          <img [ngClass]="{selectedView:mapSelectedViewResult['heatmap']}" class="button"
            (click)="selectViewResult('heatmap')" src="../../../assets/images/heatmap.svg" />
          <img [ngClass]="{selectedView:mapSelectedViewResult['sex']}" class="button" (click)="selectViewResult('sex')"
            src="../../../assets/images/sex.svg" />
          <img [ngClass]="{selectedView:mapSelectedViewResult['donut']}" class="button"
            (click)="selectViewResult('donut')" src="../../../assets/images/donut.svg" />
        </div>

        <div class="pannelStat">
          <div *ngIf="mapSelectedViewResult['list']" class="groupOptionBack">
            <div *ngFor="let option of survey.options; let index = index;"
              [ngClass]="{selected: optionVotedTxt==option.text, friendSelected:friendOptionSelected==index}"
              class="flexRow" style="position: relative; align-items: center;">
              <p class="indicatorLetter" *ngIf="index==0">A</p>
              <p class="indicatorLetter" *ngIf="index==1">B</p>
              <p class="indicatorLetter" *ngIf="index==2">C</p>
              <p class="indicatorLetter" *ngIf="index==3">D</p>
              <p class="indicatorLetter" *ngIf="index==4">E</p>
              <p class="indicatorLetter" *ngIf="index==5">F</p>
              <div class="option">
                <p>{{option.text}}</p>
              </div>
              <p class="percentInfo">{{option.percent}}%</p>
            </div>
          </div>
          <div *ngIf="mapSelectedViewResult['heatmap']">
            <div style="display: block; margin: auto;" class="blockGraph">
              <div class="tableHeatMap">
                <div class="flexRow row">
                  <p class="option" style="visibility: hidden;">Age</p>
                  <div class="flexRow listEntete">
                    <p>-18</p>
                    <p>18-30</p>
                    <p>30-40</p>
                    <p>40+</p>
                  </div>
                </div>
                <div *ngIf="mapDataHeat['A']" class="flexRow row">
                  <p class="option">A</p>
                  <div class="flexRow listAgeStat">
                    <p [ngStyle]="{'background':'rgba(248,255,66,'+data/maxValueHeat+')'}"
                      *ngFor="let data of mapDataHeat['A']">{{data}}%</p>
                  </div>
                </div>
                <div *ngIf="mapDataHeat['B']" class="flexRow row">
                  <p class="option">B</p>
                  <div class="flexRow listAgeStat">
                    <p [ngStyle]="{'background':'rgba(248,255,66,'+data/maxValueHeat+')'}"
                      *ngFor="let data of mapDataHeat['B']">{{data}}%</p>
                  </div>
                </div>
                <div *ngIf="mapDataHeat['C']" class="flexRow row">
                  <p class="option">C</p>
                  <div class="flexRow listAgeStat">
                    <p [ngStyle]="{'background':'rgba(248,255,66,'+data/maxValueHeat+')'}"
                      *ngFor="let data of mapDataHeat['C']">{{data}}%</p>
                  </div>
                </div>
                <div *ngIf="mapDataHeat['D']" class="flexRow row">
                  <p class="option">D</p>
                  <div class="flexRow listAgeStat">
                    <p [ngStyle]="{'background':'rgba(248,255,66,'+data/maxValueHeat+')'}"
                      *ngFor="let data of mapDataHeat['D']">{{data}}%</p>
                  </div>
                </div>
                <div *ngIf="mapDataHeat['E']" class="flexRow row">
                  <p class="option">E</p>
                  <div class="flexRow listAgeStat">
                    <p [ngStyle]="{'background':'rgba(248,255,66,'+data/maxValueHeat+')'}"
                      *ngFor="let data of mapDataHeat['E']">{{data}}%</p>
                  </div>
                </div>
                <div *ngIf="mapDataHeat['F']" class="flexRow row">
                  <p class="option">F</p>
                  <div class="flexRow listAgeStat">
                    <p [ngStyle]="{'background':'rgba(248,255,66,'+data/maxValueHeat+')'}"
                      *ngFor="let data of mapDataHeat['F']">{{data}}%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div [ngStyle]="{'display':mapSelectedViewResult['sex'] ? 'block' : 'none' }" class="blockGraph">
            <div class="chart-container" style="position: relative; height:100%; width:100%">
              <canvas #sexBarsGraph>{{ sexBarsChart }}</canvas>
            </div>
          </div>

          <div [ngStyle]="{'display':mapSelectedViewResult['donut'] ? 'block' : 'none' }" class="blockGraph">
            <div class="chart-container" style="position: relative; height:100%; width:100%">
              <canvas #donutGraph>{{ donutChart }}</canvas>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div *ngIf="!admin" class="flexCol barInterract">
    <div [ngClass]="{isWarned: warned}" class="button warningBlock">
      <img class="button iconWarning"
        (click)="warn()" src="../../../assets/images/logoWarning.svg">
      <p class="nbrWarning">{{survey.warnings}}</p>
      <p class="tooltip tooltipAvert">Signaler ce sondage</p>
    </div>

    <div class="shareBlock">
      <img [ngStyle]="{'display':voted ? 'block' : 'none' }" class="button iconShare"
        (click)="copyShareLink(); copyToClipboard();" src="../../../assets/images/share.svg">
      <p class="tooltip tooltipeShare">Copier le lien de partage</p>
    </div>
    <img *ngIf="!liked" class="button iconLike" (click)="like()" src="../../../assets/images/likeWhite.svg">
    <img *ngIf="liked" class="button iconLike" (click)="like()" src="../../../assets/images/like.svg">
    <div class="flexRow oneInfo">
      <img class="iconButton" src="../../../assets/images/like.svg">
      <p>{{survey.likes}}</p>
    </div>
    <div class="flexRow oneInfo">
      <img class="iconButton" src="../../../assets/images/participations.svg">
      <p>{{survey.participations}}</p>
    </div>
  </div>
</div>
