<div class="fakeBody">
    <div [ngClass]="{
        'isVoted': voted,
        'sexCat':survey.category=='sex',
        'loveCat':survey.category=='love',
        'societyCat':survey.category=='society',
        'uselessCat':survey.category=='useless',
        'sportCat':survey.category=='sport',
        'newsCat':survey.category=='news',
        'artCat':survey.category=='art',
        'lifeCat':survey.category=='life',
        'musicCat':survey.category=='music'
    }" class="container">

        <div style="visibility: hidden; position: relative;" class="side">
            <div class="content">
                <h1>{{survey.text}}</h1>
                <div class="listStatisticsView">
                    <img [ngClass]="{selectedView:mapSelectedViewResult['list']}" class="button" (click)="selectViewResult('list')" src="https://image.flaticon.com/icons/svg/507/507205.svg"/>
                    <img [ngClass]="{selectedView:mapSelectedViewResult['heatmap']}" class="button" (click)="selectViewResult('heatmap')" src="https://image.flaticon.com/icons/svg/335/335477.svg"/>
                    <img [ngClass]="{selectedView:mapSelectedViewResult['sex']}" class="button" (click)="selectViewResult('sex')" src="https://image.flaticon.com/icons/svg/505/505972.svg"/>
                    <img [ngClass]="{selectedView:mapSelectedViewResult['donut']}" class="button"(click)="selectViewResult('donut')" src="https://image.flaticon.com/icons/svg/483/483638.svg"/>
                </div>

                <div class="pannelStat"></div>
            </div>
        </div>

        <div class="front side">
            <div class="content">
                <h1>{{survey.text}}</h1>
                <div class="groupOptionFront">
                    <div *ngFor="let option of survey.options" class="flexRow option button" (click)="vote(option)">
                        <p>{{option.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="back side">
            <div class="content">
                <h1>{{survey.text}}</h1>
                <div class="listStatisticsView">
                    <img [ngClass]="{selectedView:mapSelectedViewResult['list']}" class="button" (click)="selectViewResult('list')" src="https://image.flaticon.com/icons/svg/507/507205.svg"/>
                    <img [ngClass]="{selectedView:mapSelectedViewResult['heatmap']}" class="button" (click)="selectViewResult('heatmap')" src="https://image.flaticon.com/icons/svg/335/335477.svg"/>
                    <img [ngClass]="{selectedView:mapSelectedViewResult['sex']}" class="button" (click)="selectViewResult('sex')" src="https://image.flaticon.com/icons/svg/505/505972.svg"/>
                    <img [ngClass]="{selectedView:mapSelectedViewResult['donut']}" class="button"(click)="selectViewResult('donut')" src="https://image.flaticon.com/icons/svg/483/483638.svg"/>
                </div>

                <div class="pannelStat">
                    <div *ngIf="mapSelectedViewResult['list']" class="groupOptionBack">
                        <div *ngFor="let option of survey.options;" [ngClass]="{selected: optionVotedTxt==option.text}" class="flexRow" style="position: relative; align-items: center;">
                            <div class="option">
                                <p>{{option.text}}</p>
                            </div>
                            <p class="percentInfo">{{option.percent}}%</p>
                        </div>
                    </div>
                    <div *ngIf="mapSelectedViewResult['heatmap']">
                        <div style="display: block; width: 40vw; height: 20vw; margin: auto;" class="blockGraph">
                            <div class="tableHeatMap">
                                <div class="flexRow row">
                                    <p class="option" style="visibility: hidden;">Age</p>
                                    <div class="flexRow listEntete">
                                        <p>-18</p>
                                        <p>18-30</p>
                                        <p>30-40</p>
                                        <p>40+</p>
                                    </div>
                                </div>
                                <div class="flexRow row">
                                    <p class="option">A</p>
                                    <div class="flexRow listAgeStat">
                                        <p>4</p>
                                        <p>4</p>
                                        <p>3</p>
                                        <p>18</p>
                                    </div>
                                </div>
                                <div class="flexRow row">
                                    <p class="option">B</p>
                                    <div class="flexRow listAgeStat">
                                        <p>6</p>
                                        <p>2</p>
                                        <p>4</p>
                                        <p>1</p>
                                    </div>
                                </div>
                                <div class="flexRow row">
                                    <p class="option">C</p>
                                    <div class="flexRow listAgeStat">
                                        <p>6</p>
                                        <p>2</p>
                                        <p>4</p>
                                        <p>1</p>
                                    </div>
                                </div>
                                <div class="flexRow row">
                                    <p class="option">D</p>
                                    <div class="flexRow listAgeStat">
                                        <p>6</p>
                                        <p>2</p>
                                        <p>4</p>
                                        <p>1</p>
                                    </div>
                                </div>
                                <div class="flexRow row">
                                    <p class="option">E</p>
                                    <div class="flexRow listAgeStat">
                                        <p>6</p>
                                        <p>2</p>
                                        <p>4</p>
                                        <p>1</p>
                                    </div>
                                </div>
                                <div class="flexRow row">
                                    <p class="option">F</p>
                                    <div class="flexRow listAgeStat">
                                        <p>6</p>
                                        <p>2</p>
                                        <p>4</p>
                                        <p>1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [ngStyle]="{'display':mapSelectedViewResult['sex'] ? 'block' : 'none' }">
                        <div style="display: block; width: 40vw; height: 20vw; margin: auto;" class="blockGraph">
                            <canvas #sexBarsGraph>{{ sexBarsChart }}</canvas>
                        </div>
                    </div>

                    <div [ngStyle]="{'display':mapSelectedViewResult['donut'] ? 'block' : 'none' }">
                        <div style="display: block; width: 40vw; height: 20vw; margin: auto;" class="blockGraph">
                            <canvas #donutGraph>{{ donutChart }}</canvas>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div *ngIf="!admin" class="flexCol barInterract">
        <div [ngClass]="{isWarned: warned}"class="button hexagon" (click)="warn()">
            <div [ngClass]="{barSignal: survey.warnings>=1}" class="bar bar1"></div>
            <div [ngClass]="{barSignal: survey.warnings>=2}" class="bar bar2"></div>
            <div [ngClass]="{barSignal: survey.warnings>=3}" class="bar bar3"></div>
            <div [ngClass]="{barSignal: survey.warnings>=4}" class="bar bar4"></div>
            <div [ngClass]="{barSignal: survey.warnings>=5}" class="bar bar5"></div>
            <div [ngClass]="{barSignal: survey.warnings>=6}" class="bar bar6"></div>
            <h1>!</h1>
        </div>
        <img [ngClass]="{liked: liked}" class="button iconLike" (click)="like()" src="https://image.flaticon.com/icons/svg/1216/1216649.svg">
        <div class="flexRow oneInfo">
            <img class="iconButton" src="https://image.flaticon.com/icons/svg/1216/1216649.svg">
            <p>{{survey.likes}}</p>
        </div>
        <div class="flexRow oneInfo">
            <img class="iconButton" src="https://image.flaticon.com/icons/svg/2633/2633926.svg">
            <p>{{survey.participations}}</p>
        </div>
    </div>
</div>