<div class="identificationBox">
    <h1>Bienvenue sur WeirdSurveys !</h1>
    <p>Description de ce qu'on peut faire sur le site Description de ce qu'on peut faire sur le site Description de ce qu'on peut faire sur le site Description de ce qu'on peut faire sur le site Description de ce qu'on peut faire sur le site Description de ce qu'on peut faire sur le site Description de ce qu'on peut faire sur le site Description de ce qu'on peut faire sur le site </p>
    <p>Complètement anonyme</p>
    <p>Seulement quelques informations sur vous:</p>
    <h2>Age</h2>
    <div class="flexRow listAge">
        <div class="oneAge" *ngFor="let age of listAge">
            <p>{{age.text}}</p>
        </div>
    </div>
    <h2>Sexe</h2>
    <div class="flexRow listSexe">
        <div class="oneSexe">
            <img src="https://image.flaticon.com/icons/svg/1340/1340645.svg"/>
            <p>Homme</p>
        </div>
        <div class="oneSexe">
            <img src="https://image.flaticon.com/icons/svg/1340/1340653.svg"/>
            <p>Femme</p>
        </div>
    </div>

    <p class="button" routerLink="/home">OK</p>
</div>