.backLogo{
    position: absolute;
    width: 3vw;
    left: 1vw;
    top: 1vw;
}

h1{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    width: 50vw;
    margin: 10vh auto 2vh auto;
    padding: 0.5vh 0.5vw;
    border-radius: 100px;
}

@media (max-width: 800px) {
    h1{
        width: 85vw;
        border-radius: 5px;
        font-size: 0.8em;
    }

    .backLogo{
        width: 10vw;
        left: 2vw;
        top: 2vw;
    }
}